<div style="padding-left: 2em; padding-right: 2em; padding-top: 9em;height:100vh;background-image: url('../../assets/gradient.gif');background-repeat: no-repeat;background-size: 100% 25%;">
    <div class="main-container">
        <div class="box">
            <div class="box__left">
            <div class="box__left__title">
                <div>
                <h1  style="font-family: 'Montserrat';">Get Started!</h1>
                </div>
                <i (click)="onStore()" style="background-color: #920f4c; cursor: pointer;" class="fa fa-usd" aria-hidden="true"></i>
            </div>
    
            <mat-list>
                <div mat-subheader>Click on the top right corner of this card to find the right course for you.</div>
                <mat-list-item>
                  <mat-icon matListItemIcon>access_time</mat-icon>
                  <div matListItemTitle>  Content Accessible 24/7!</div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                  <mat-icon matListItemIcon>email</mat-icon>
                  <div matListItemTitle>Course Assistants an email away for guidance.</div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <mat-icon matListItemIcon>check_circle</mat-icon>
                    <div matListItemTitle>Constantly updated and revised content.</div>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item>
                    <mat-icon matListItemIcon>star</mat-icon>
                    <div matListItemTitle>Rate your courses. Your feedback matters!</div>
                  </mat-list-item>
                 
                
              </mat-list>
              
            </div>
    
            <div class="box__right">
    
    
                <div class="box__left__title">
                    <h1  style="font-family: 'Montserrat';">The Maze!</h1>
                </div>
              
                    <p  style="font-family: 'Montserrat';">Need a break? Have some fun <br> fighting with your cursor! </p>
    <br>
    <br>
                    <section class="game">
                      <input type="checkbox" class="step" id="maze--1"/>
                      <section class="maze maze--1">
                        
                        <section class="path path--1"></section>
                  
                        <section class="path path--finish"></section>
                  
                        <section class="path path--end"></section>
                  
                        <section class="finish">
                          <span class="line">Good job</span>
                          <span class="line">Le'ts see you on the <label for="maze--1">next level</label></span>
                        </section>
                  
                        <section class="gameover">
                          <span class="line">To finish this game, the mouse cursor should stay on the path</span>
                          <span class="line" style="padding-top: 5%;">You lose!</span>
                        </section>
                      </section>
                  
                      <input type="checkbox" class="step" id="maze--2"/>
                      <section class="maze maze--2">
                        
                        <section class="path path--1"></section>
                  
                        <section class="path path--2"></section>
                  
                        <section class="path path--3"></section>
                  
                        <section class="path path--4"></section>
                  
                        <section class="path path--5"></section>
                  
                        <section class="path path--finish"></section>
                  
                        <section class="path path--end"></section>
                  
                        <section class="finish">
                          <span class="line">Good job</span>
                          <span class="line">Le'ts see you on the <label for="maze--2">next level</label></span>
                        </section>
                  
                        <section class="gameover">
                          <span class="line">To finish this game, the mouse cursor should stay on the path</span>
                          <span class="line">You lose!</span>
                        </section>
                      </section>
                  
                      <input type="checkbox" class="step" id="maze--3"/>
                      <section class="maze maze--3">
                        
                        <section class="path path--1"></section>
                  
                        <section class="path path--2"></section>
                  
                        <section class="path path--3"></section>
                  
                        <section class="path path--4"></section>
                  
                        <section class="path path--5"></section>
                  
                        <section class="path path--6"></section>
                  
                        <section class="path path--7"></section>
                  
                        <section class="path path--finish"></section>
                  
                        <section class="path path--end"></section>
                  
                        <section class="finish">
                          <span class="line">Good job</span>
                          <span class="line">Le'ts see you on the <label for="maze--3">next level</label></span>
                        </section>
                  
                        <section class="gameover">
                          <span class="line">To finish this game, the mouse cursor should stay on the path</span>
                          <span class="line">You lose!</span>
                        </section>
                      </section>
                  
                      <input type="checkbox" class="step" id="maze--4"/>
                      <section class="maze maze--4">
                        
                        <section class="path path--1"></section>
                  
                        <section class="path path--2"></section>
                  
                        <section class="path path--3"></section>
                  
                        <section class="path path--4"></section>
                  
                        <section class="path path--5"></section>
                  
                        <section class="path path--finish"></section>
                  
                        <section class="path path--end"></section>
                  
                        <section class="finish">
                          <span class="line">Good job</span>
                          <span class="line">Le'ts see you on the <label for="maze--4">next level</label></span>
                        </section>
                  
                        <section class="gameover">
                          <span class="line">To finish this game, the mouse cursor should stay on the path</span>
                          <span class="line">You lose!</span>
                        </section>
                      </section>
                  
                      <input type="checkbox" class="step" id="maze--5"/>
                      <section class="maze maze--5">
                        
                        <section class="path path--1"></section>
                  
                        <section class="path path--2"></section>
                  
                        <section class="path path--3"></section>
                  
                        <section class="path path--4"></section>
                  
                        <section class="path path--5"></section>
                  
                        <section class="path path--finish"></section>
                  
                        <section class="finish">
                          <span class="line">Good job</span>
                          <span class="line">You made it till the end</span>
                          <span class="line">Now, tweet about it so your friends will try also <a href="https://twitter.com/intent/tweet?text=Done!%20I%20just%20finished%20this%20awesome%20pure%20CSS%20game,%20let's%20see%20you%20now&url=http%3A%2F%2Fbit.ly%2F2zU4LFV&via=chaofix" target="_blank" class="tweet">Tweet</a></span>
                        </section>
                  
                        <section class="gameover">
                          <span class="line">To finish this game, the mouse cursor should stay on the path</span>
                          <span class="line">You lose!</span>
                        </section>
                      </section>
                    </section>
                  
    
    
            </div>
          
    
        </div>
    </div>
</div>





