<div style="padding-left: 3em; padding-right: 3em; padding-top: 9em;height:100vh;background-image: url('../../assets/gradient.gif');background-repeat: no-repeat;background-size: 100% 25%;">

  <div>
    <mat-card class="matCard" style="border-radius: 34px;box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8), 0 1px 3px rgba(0, 0, 0, 0.8);">
      <mat-card-header class="cardHeader" style="padding-bottom: 1%;text-align: center">
        <mat-card-title-group style="margin-left: 40%;">
          <mat-card-title style="font-weight: 500; ">Update Skill</mat-card-title>
        </mat-card-title-group>
        <button mat-icon-button  matTooltip="Help" style="color: rgb(255, 255, 255); margin-left: 30%;margin-top: 0px;" (click)="GetHelp()">
          <a
           
            [routerLink]="['/help']" 
            target="_blank"
              ><mat-icon style="color: #ffffff;">help</mat-icon></a
            >
        </button>
      </mat-card-header>
      <mat-card-content class="matContent">
        <form>
          <br />
          <br />
          <div *ngIf="(skillTypeList == null || undefined)"
          style="
         display: flex;
         align-items: center;
         justify-content: center;">
           <mat-spinner ></mat-spinner>
         </div>
          <div class="form-group" *ngIf="!(skillTypeList == null || undefined)">
            <div style="padding: 0% 2.5% 0% 2%; min-width: 100%">
              <mat-form-field 
              class="example-full-width" 
              appearance="legacy"
              style="width: 95%;"
              >
                <mat-label style="color: #0e1a3c">Enter Skill Name</mat-label>
                <input
                  type="text"
                  matInput
                  [formControl]="nameFormControl"
                  name="SkillName"
                  [(ngModel)]="skill.SkillName"
                  style="color: #0e1a3c"
                  placeholder="Ex. Angular"
                  required
                />
                <mat-error *ngIf="nameFormControl.hasError('required')">
                  Skill Name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <br />
              <br />
  
              <mat-form-field
                class="example-full-width"
                appearance="legacy"
                style="width: 95%;"
              >
                <mat-label style="color: #0e1a3c"
                  >Enter Skill Description</mat-label
                >
                <textarea
                  matInput
                  [formControl]="descFormControl"
                  rows="5"
                  cols="90"
                  name="SkillDesc"
                  [(ngModel)]="skill.Description"
                  placeholder="Ex. This skill shows competency in..."
                  required
                ></textarea>
                <mat-error *ngIf="descFormControl.hasError('required')">
                  Skill Description is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <br>
              <br>
              <br>
              <mat-form-field appearance="legacy">
                <mat-label style="color: #0e1a3c">Select Skill Type</mat-label>
                <mat-select
                    name="SkillTypeID"
                    [(ngModel)]="skill.SkillTypeID"
                    (valueChange)="selectType($event)">
                  <mat-option
                    *ngFor="let item of skillTypeList"
                    [value]="item.SkillTypeID"
                  >
                    {{ item.SkillTypeName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-group" style="padding-right: 40%"></div>
          </div>
          <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
          <div class="button-container" *ngIf="!(skillTypeList == null || undefined)">
            <button id="cancel" class="btn" (click)="onBack()">Cancel</button>
            <button id="confirm" class="btn" (click)="onSubmit()">Confirm</button>
        </div>
         
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  </div>