  <!-- Card Form for Input -->
  <div  style="padding-left: 3em; padding-right: 3em; padding-top: 9em;height:100vh;background-image: url('../../assets/gradient.gif');background-repeat: no-repeat;background-size: 100% 25%;">
    <!-- Mat Card Form for Read faq -->
   
     <div>
       <mat-card class="matCard" style="border-radius: 34px;box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8), 0 1px 3px rgba(0, 0, 0, 0.8);">
         <mat-card-header class="cardHeader" style="padding-bottom: 1%;text-align: center">
           <mat-card-title-group style="margin:0 auto;">
             <mat-card-title style="font-weight: 500; ">New Rating</mat-card-title>
           </mat-card-title-group>
         </mat-card-header>
   
         <mat-card-content class="matContent">
           <form>
             <div class="form-group">
               <br /><br />
               <div style="padding: 0% 2.5% 0% 2%; min-width: 100%">

                <mat-label style="color: #0e1a3c">
                Select Course to Rate</mat-label>
      
                  <br />
                  <mat-form-field 
                  class="example-full-width" 
                  appearance="legacy"
                  style="width: 95%;">
      
                  
                  <mat-select (valueChange)="selectCourse($event)" [formControl]="courseFormControl" required>
                    <mat-option
                      *ngFor="let item of courseList"
                      [value]="item.CourseID"
                    >
                      {{ item.Name }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="courseFormControl.hasError('required')">
                   Course Selection is <strong>required</strong>
                  </mat-error>
                  </mat-form-field>
                  <br>
                  <br>
                 

                 <mat-form-field
                 class="example-full-width"
                 style="width: 95%;"
                 appearance="legacy"
               >
                 <mat-label style="color: #0e1a3c"
                   >Describe your course experience</mat-label
                 >
                 <textarea
                   matInput
                   style="color: #0e1a3c"
                   [formControl]="commentFormControl"
                   rows="5"
                   cols="90"
                   name="QualificationDesc"
                   [(ngModel)]="rating.Comment"  
                   ngModelOptions="{standalone:true}"
                   placeholder="Ex. This department involves all IS aspects"
                   required
                 ></textarea>
                 <mat-error *ngIf="commentFormControl.hasError('required')">
                  Rating Comment is <strong>required</strong>
                </mat-error>
               </mat-form-field>
   <br>
   <mat-label style="color: #0e1a3c">
    Rate out of 5 Stars</mat-label>
    <br>
<div class="rating">
    <mat-icon *ngFor="let star of stars" (click)="rate(star)" [ngClass]="{ 'filled': star <= sRating }">star</mat-icon>
  </div>
  <br>
                
                 
               </div>
   
               <div class="form-group" style="padding-right: 40%"></div>
             </div>
             <div class="button-container">
               <button id="cancel" class="btn" (click)="onBack()">Cancel</button>
               <button id="confirm" class="btn" (click)="onSubmit()">Confirm</button>
           </div>
           </form>
         </mat-card-content>
       </mat-card>
     </div>
   </div>