
<div style="padding-left: 3em; padding-right: 3em; padding-top: 9em;height:100vh;background-image: url('../../assets/gradient.gif');background-repeat: no-repeat;background-size: 100% 25%;">
  <mat-card class="matCard">
    <mat-tab-group>
      <mat-tab label="Overview" class="section" style="color: #0e1a3c;">
        <br>
        <mat-card-header class="cardHeader" style="padding-bottom: 1%;text-align: center">
          <mat-card-title-group style="margin: 0 auto;">
            <mat-card-title style="font-weight: 500">{{course.Name}} -> {{test.SectionName}}</mat-card-title>
          </mat-card-title-group>
    <div style="float:right">
      <button mat-icon-button style="color: rgb(255, 255, 255); margin-top: -10px;" (click)="onEditSection()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button style="color: rgb(255, 255, 255); margin-top: -10px;" (click)="onDeleteSection()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
        
        </mat-card-header>

        <mat-card-content class="matContent">
          <!--Project Details-->
          <form>
            <div class="form-group">
              <br /><br />
              <div style="padding: 0% 2.5% 0% 2%;">
              <mat-label style="color: #0e1a3c">
                Section Name</mat-label>
  
              <br />
              <mat-form-field 
              class="example-full-width" 
              appearance="legacy"
              style="width: 99%;">
  
                <input
                  readonly
                  type="text"
                  matInput
                  name="SectionName"
                  [(ngModel)]="test.SectionName"
                  
                  required
                  style="color: #0e1a3c"
                />
              </mat-form-field>
              <br />
              <br />
  
              <mat-label style="color: #0e1a3c">
                Section Description</mat-label
              >
  
              <br />
              <mat-form-field
                class="example-full-width"
                appearance="legacy"
                style="width: 99%;"
              >
  
                <textarea
                  readonly
                  matInput
                  rows="5"
                  cols="90"
                  name="SectionDescription"
                  [(ngModel)]="test.SectionDescription"
                 
                  style="color: #0e1a3c"></textarea>
              </mat-form-field>
              </div>
              <div class="form-group" style="padding-right: 40%"></div>
            </div>
    
            <div class="button-container">
              <button style=" 
              border: 2px solid rgb(0, 0, 0);
              border-radius: 50px;
              font-family: Montserrat;
              font-size: 16px;
              color: white;
              padding: 10px 25px 10px 25px;"
              id="cancel" class="btn" (click)="onBack()">Back</button>
               </div>
          </form>
        </mat-card-content>
      </mat-tab>
      
     
    </mat-tab-group>
   </mat-card>
</div>
