
<div style="background-color: #920f4c;  text-align: center;">
    <h2 mat-dialog-title style="color: #ffffff;font-family: Montserrat; text-align: center; padding: 20px 0px 10px 35px;">{{data.title }}</h2>
</div>
<mat-dialog-content class="mat-typogrpahy" style="padding: 40px 20px 20px 80px;  text-align: center;">
    <h4 style="color: #000000; text-align: center;font-family: Montserrat;">Date: {{data.start | date: "dd MMM yyyy" }}</h4>
    <h4 style="color: #000000; text-align: center;font-family: Montserrat;">Start Time: {{data.start | date:"HH:mm:ss" }}</h4>
    <h4 style="color: #000000; text-align: center;font-family: Montserrat;">End Time: {{data.end | date:"HH:mm:ss" }}</h4>
</mat-dialog-content>
<mat-dialog-actions style=" padding-right: 20px;" >
    <div class="button-container">
    <button id="confirm" type="submit"  (click)="Ok()"  class="btn" >Ok</button>
    </div>
</mat-dialog-actions>


