
  <body>
    <section id="not-found">
      <div class="circles">
        <p style="font-family: 'Montserrat';">404<br>
         <small style="font-family: 'Montserrat';">PAGE NOT FOUND</small>
        </p>
        <span class="circle big"></span>
        <span class="circle med"></span>
        <span class="circle small"></span>
    <div class="div-2">
        <h1 style="font-family: 'Montserrat';" class="text">Unauthorized Access.</h1>
        <h3 style="font-family: 'Montserrat';" class="text2"> You are not authorized to access this page. Contact administration for further assistance. </h3>
        <button class="btnLanding" id="confirm" (click)="back()">Back to Safety</button><br>
    </div>
   
</div>

</section>
</body>