
<div style="padding-left: 3em; padding-right: 3em; padding-top: 9em;height:100vh;background-image: url('../../assets/gradient.gif');background-repeat: no-repeat;background-size: 100% 25%;">
  <mat-card class="matCard">
    <mat-tab-group>
      <mat-tab label="Request Details" class="applicant" style="color: #0e1a3c;">
        <br>
        <mat-card-header class="cardHeader" style="padding-bottom: 1%;text-align: center">
          <mat-card-title-group style="margin-left: 30%;">
            <mat-card-title style="font-weight: 500; ">Update Request: {{test.UpdateSubject}}</mat-card-title>
          </mat-card-title-group>
          <button mat-icon-button  matTooltip="Help" style="color: rgb(255, 255, 255); margin-left: 20%;margin-top: 0px;" (click)="GetHelp()">
            <a
             
              [routerLink]="['/help']" 
              target="_blank"
                ><mat-icon style="color: #ffffff;">help</mat-icon></a
              >
          </button>
        </mat-card-header>

        <mat-card-content class="matContent">
          <!--Project Details-->
          <form>
            <br>
            <br>
            <div class="form-group">
              <mat-label style="color: #0e1a3c">Update Request Subject</mat-label>
              <mat-form-field
      
              class="example-full-width" appearance="legacy" style="width: 95%;"
      >
      
      <input
      readonly
      type="text"
      matInput
      name="updateName"
      value="{{ test.UpdateSubject}}"
      required
     
    />
      </mat-form-field>
   <br>
   <br>            
   <mat-label style="color: #0e1a3c">
    Update Request Description</mat-label
  >

  <br />
  <mat-form-field
    class="example-full-width"
    appearance="legacy"
    style="width: 95%;"
  >

    <textarea
      readonly
      matInput
      rows="5"
      cols="90"
      name="SkillDesc"
      value="{{ test.UpdateDesc}}"
     
      style="color: #0e1a3c"></textarea>
  </mat-form-field>
   <br>
   <br>
                
              <mat-label style="color:#0e1a3c">Employee Full Name</mat-label>
                    <mat-form-field
                    
                    class="example-full-width" appearance="legacy" style="width: 95%;"
      
                  >
                      
                       <input
                       readonly
                       type="text"
                       matInput
                       name="ProjectName"
                       value="{{ test.EmployeeName }} {{ test.EmployeeSurname }}"
                       required
                    
                     />
                    </mat-form-field>
                    <br>
                    <br>
                  
            <mat-label style="color: #0e1a3c">Employee ID Number</mat-label>
                    <mat-form-field
            
                    class="example-full-width" appearance="legacy" style="width: 95%;"
            >
            
            <input
            readonly
            type="text"
            matInput
            name="updateRSAID"
            value="{{ test.RSAIDNumber}}"
            required
           
          />
            </mat-form-field>
            <br>
            <br>
            <mat-label style="color: #0e1a3c">Employee Email</mat-label>
            <mat-form-field
    
            class="example-full-width" appearance="legacy" style="width: 95%;"
    >
    
    <input
    readonly
    type="text"
    matInput
    name="updateEmaie"
    value="{{ test.Email}}"
    required
   
  />
    </mat-form-field>
    <br>
    <br>
    <mat-label style="color: #0e1a3c">Employee Phone</mat-label>
    <mat-form-field

    class="example-full-width" appearance="legacy" style="width: 95%;"
>

<input
readonly
type="text"
matInput
name="updatePhone"
value="{{ test.Phone}}"
required

/>
</mat-form-field>

                          
                    
                          
                        
              
              
  
        
<br>

<div class="form-group" style="padding-right: 40%"></div>
</div>
<div class="button-container">
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  <button id="cancel" class="btn" (click)="onReject()">Reject </button>
  <button id="view" class="btn" (click)="onBack()">View All</button>
  <button id="confirm" class="btn" (click)="onAccept()">Accept</button>
   </div>
          </form>
        </mat-card-content>
      </mat-tab>
      
 <mat-tab label="Proof PDF">
  <mat-card-header class="cardHeader" style="padding-bottom: 1%;text-align: center">
      <mat-card-title-group style="margin: 0 auto;">
        <mat-card-title style="font-weight: 500">{{test.EmployeeName}}'s Uploaded Proof</mat-card-title>
      </mat-card-title-group>

    
    </mat-card-header>
  <mat-card-content class="matContent">
      
        
          <pdf-viewer
          [src]="pdfSrc"
          
          [rotation]="0"
          [original-size]="false"
          [show-all]="true"
          [fit-to-page]="false"
          [zoom]="0.85"
          [zoom-scale]="'page-width'"
          [stick-to-page]="false"
          [render-text]="true"
          [external-link-target]="'blank'"
          [autoresize]="true"
          [show-borders]="true"
          style="width: 80%; height: 600px; margin:0 auto"
        ></pdf-viewer>

          <div class="form-group" style="padding-right: 40%"></div>
     
        <div class="button-container">
          <button id="view2" class="btn" (click)="downloadPDF()">Download</button>
          
      </div>
      
    </mat-card-content>

 </mat-tab>
    </mat-tab-group>
   </mat-card>
</div>
