
<div style="padding-left: 3em; padding-right: 3em; padding-top: 9em;height:100vh;background-image: url('../../assets/gradient.gif');background-repeat: no-repeat;background-size: 100% 25%;">
  <mat-card class="matCard">
    <mat-tab-group>
      <mat-tab label="Course Details" class="applicant" style="color: #0e1a3c;">
        <br>
        <mat-card-header class="cardHeader" style="padding-bottom: 1%;text-align: center">
          <mat-card-title-group style="margin: 0 auto;">
            <mat-card-title style="font-weight: 500">{{course.Name}}</mat-card-title>
          </mat-card-title-group>
  
        
        </mat-card-header>

        <mat-card-content class="matContent">
          <!--Project Details-->
          <form>
            <div class="form-group">
              <br>
              <br>
              <!--Image-->
              <h1 style="margin-left:42.5%;color: #0e1a3c; margin-bottom: -70px;"><b>Course Preview</b></h1>
              <br>
             
              <div class='embed-container'>
                <iframe [src]="course.Preview | VimeoUrl" frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
              </div>
            
              <h1 style="margin-left:42.5%;color: #0e1a3c;"><b>Description</b></h1>
              
                    <mat-form-field
            
                    class="example-full-width" appearance="legacy" style="width: 95%;"
            >
            
            <textarea
            readonly
            matInput
            rows="7"
            cols="90"
            name="ProjectDesc"
            [(ngModel)]="course.Description"
           
           ></textarea>
            </mat-form-field>

<div class="form-group" style="padding-right: 40%"></div>
</div>
<div class="button-container">
  <button style=" 
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50px;
  font-family: Montserrat;
  font-size: 16px;
  color: white;
  padding: 10px 25px 10px 25px;"
  id="cancel" class="btn" (click)="onBack()">Back</button>
   </div>
          </form>
        </mat-card-content>
      </mat-tab>
      
 <mat-tab label="Course Structure">
  <br>
  <mat-card-header class="cardHeader" style="padding-bottom: 1%;text-align: center">
      <mat-card-title-group style="margin: 0 auto;">
        <mat-card-title style="font-weight: 500">{{course.Name}}'s Structure</mat-card-title>
      </mat-card-title-group>

    
    </mat-card-header>
  <mat-card-content class="matContent">
    <div *ngIf="courseDetails?.Sections?.length === 0" style="text-align: center; padding: 1em;">
      <p style="font-weight: 500; font-size: 18px;">No course content yet! Come back soon</p>
    </div>

        <br>
    <div class="container">
      <div style="margin-left: 42%; padding-bottom: 50px;">
    
        <div>
          <div>
            <img
              src="{{ 'data:image/png;base64,' + course.Image }}"
              style="width: 200px; height:200px;padding-top: 10px;"
            >
          </div>
        </div>
      </div>
      <mat-accordion class="accordion">
        <mat-expansion-panel *ngFor="let section of courseDetails?.Sections">
          <mat-expansion-panel-header>
            <mat-panel-title class="title">
             <b>{{ section.SectionName }}</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-panel-description class="desc">
            {{ section.SectionDescription }}
          </mat-panel-description>
          <br>
          <p *ngFor="let lesson of section.Lessons">
            •<mat-icon class="icon-display">ondemand_video</mat-icon>
            <b>{{ lesson.LessonName }}</b>
            <br>
            <br>
            {{ lesson.LessonDescription }}
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

          <div class="form-group" style="padding-right: 40%"></div>
     
    
      
    </mat-card-content>

 </mat-tab>
 <mat-tab label="FAQ">
  <br>
  <mat-card-header class="cardHeader" style="padding-bottom: 1%;text-align: center">
      <mat-card-title-group style="margin: 0 auto;">
        <mat-card-title style="font-weight: 500">Frequently asked Questions</mat-card-title>
      </mat-card-title-group>

    
    </mat-card-header>
  <mat-card-content class="matContent">
      
        <br>
    <div class="container">
     
      <mat-accordion class="accordion">
        <mat-expansion-panel *ngFor="let faq of faqList">
          <mat-expansion-panel-header>
            <mat-panel-title class="title">
             <b>{{ faq.Question }}</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-panel-description class="desc">
            {{ faq.Answer }}
          </mat-panel-description>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

          <div class="form-group" style="padding-right: 40%"></div>
     
    
      
    </mat-card-content>

 </mat-tab>
 <mat-tab label="Reviews">
  <br>
  <mat-card-header class="cardHeader" style="padding-bottom: 1%;text-align: center">
      <mat-card-title-group style="margin: 0 auto;">
        <mat-card-title style="font-weight: 500"> Total Reviews: {{ NumberOfRatings }} <br> Course Average: {{ AverageRating }}/5 Star Rating</mat-card-title>
      </mat-card-title-group>

    
    </mat-card-header>
  <mat-card-content class="matContent">
      
        <br>
   
        <mat-list>
          <mat-list-item *ngFor="let rating of ratings">
            <mat-icon style="font-size: small;"class="initials-icon" mat-list-icon>{{ getInitials(rating.Name, rating.Surname) }}</mat-icon>
            <p style="font-size:medium;" mat-line><b>Author:</b> {{ rating.Name }} {{ rating.Surname }}</p>
            <p style="color:white;" mat-line>x</p>
            <p style="font-size: medium;" mat-line><b>Date:</b> {{ rating.Date | date: 'dd MMM yyyy' }}</p> 
            <p style="color:white;" mat-line>x</p>
            <p style="font-size: medium;" mat-line><b>Comment:</b> {{ rating.Comment }}</p>
            <p style="color:white;" mat-line>x</p>
            <p mat-line><ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
              <mat-icon class="star-icon" [ngClass]="{'star-filled': star <= rating.Rating, 'star-empty': star > rating.Rating}">star</mat-icon>
            </ng-container></p>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>

        <div *ngIf="notRetrieved">
          No reviews available yet!
        </div>
        
        
    
    
    

          <div class="form-group" style="padding-right: 40%"></div>
     
    
      
    </mat-card-content>

 </mat-tab>
    </mat-tab-group>
   </mat-card>
</div>
