.item-label h2 {
    margin: 0;
    padding: 0;
  }

  .item-label p {
    margin: 5px 0;
  }

  .item-label {
    white-space: normal;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .logo-image {
    width: 200px; /* Adjust the size of the logo image */
    height: 200px; /* Adjust the size of the logo image */
    border-radius: 50%; /* Apply a circular border radius to the logo image */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Apply a box shadow to the logo image */
    /* Add any additional styling for your logo image */
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  ion-button {
    margin-bottom: 10px;
  }
  