<!-- PARTICLE SYSTEM -->
<div class="page-bg"></div>

<div class="animation-wrapper">
  <div class="particle particle-1"></div>
  <div class="particle particle-2"></div>
  <div class="particle particle-3"></div>
  <div class="particle particle-4"></div>
</div>


  <div class="blurred-box">
    <div style="background-image: url('../../assets/loading.gif');background-repeat: no-repeat;background-size: 100% 100%;" class="bouncer" *ngIf="isLoading">   
    </div>
    <div style="padding: 0% 2.5% 0% 2%;">
      <br>
      
   <div>
    <h1 style="margin-left: 30%; color: white;"> Application - {{jobOpp.JobOppTitle}}</h1>
   </div>

    <!-- image preview -->
  <br>
  <form>
<mat-label style="font-family: Montserrat;">Upload Personal Portrait/Image</mat-label>
      <mat-form-field enctype="multipart/form-data">
        <div>
          <!-- Fetch selected filed on change -->
          <input type="file" title=" " #fileInput id="uploadFile" (change)="uploadFileEvt($event)" name="uploadFile"
            accept="image/*" [formControl] = "imageFormControl" style="display: none;" required/>
            <!-- label of input -->
            <label for="uploadFile" class="btn" style="background-color: #0e1a3c; color: white;font-family: Montserrat;">Choose Image</label>
            <br>
            <br>
           
          <!-- Display files names -->
            <input  matInput [(ngModel)]="fileAttr" readonly name="name" />

            <mat-error *ngIf="imageFormControl.hasError('required')">
              No Image <strong>chosen</strong>
            </mat-error>
        </div>


      </mat-form-field>
      <br>
    <!--Name Surname-->
     <!--2 Columns-->
     <div class="container">
        <div class="row">
          <div class="col-sm" style="float: left;">
            <mat-form-field class="full-width" [style.width.px]="320" appearance="fill" style="font-family: Montserrat;">
                <mat-label  style="font-family: Montserrat;">Name</mat-label>
                <input
                  
                  matInput
                  name="appName"
                  [formControl]="nameFormControl"
                  placeholder="John"
                  [(ngModel)]="test.Name"
                  required
                />
                <mat-error *ngIf="nameFormControl.hasError('required')">
                  Name required
                </mat-error>
                <mat-error *ngIf="nameFormControl.hasError('pattern')">
                Name must contain only <strong>alpha characters</strong>
                  </mat-error>
              </mat-form-field>
        <br>
          </div>
          
          <div class="col-sm" style="float: right; ">
            <mat-form-field class="full-width" [style.width.px]="320" appearance="fill" style="font-family: Montserrat;">
                <mat-label  style="font-family: Montserrat;">Surname</mat-label>
                <input
                  
                  matInput
                  name="appSurname"
                  [formControl]="surnameFormControl"
                  placeholder="Smith"
                  [(ngModel)]="test.Surname"
                  required
                />
                <mat-error *ngIf="surnameFormControl.hasError('required')">
                    Surname is <strong>required</strong>
                  </mat-error>
            
                <mat-error *ngIf="surnameFormControl.hasError('pattern')">
                   Surname must contain only <strong>alpha characters</strong>
                </mat-error>
              </mat-form-field>
            <br>
          </div>

          
        </div>
      </div>
  <!--Name Surname-->
<br>
<br>
<br>
<br>
       <!--Email Phone-->
     <!--2 Columns-->
     <div class="container">
        <div class="row">
          <div class="col-sm" style="float: left;">
            <mat-form-field class="full-width" [style.width.px]="320" appearance="fill" style="font-family: Montserrat;">
                <mat-label  style="font-family: Montserrat;">Email</mat-label>
                <input
                  
                type="text"
                matInput
                [formControl]="emailFormControl"
                name="appEmail"
                [(ngModel)]="test.Email"
                placeholder="Ex. Pan"
                required
                />
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is <strong>required</strong>
                  </mat-error>
                  <mat-error *ngIf="emailFormControl.hasError('email')">
                    Email is <strong>invalid</strong>
                  </mat-error>
              </mat-form-field>
          
          </div>
          
          <div class="col-sm" style="float: right; ">
            <mat-form-field class="full-width" [style.width.px]="320" appearance="fill" style="font-family: Montserrat;">
                <mat-label  style="font-family: Montserrat;">Phone Number</mat-label>
                <input
                  
                type="text"
                                 matInput
                                 [formControl]="phoneFormControl"
                                 name="EmployeePhoneNumber"
                                 [(ngModel)]="test.Phone"
                                 placeholder="0876280002"
                                 required
                />
                <mat-error *ngIf="phoneFormControl.hasError('required')">
                    Phone Number is <strong>required</strong>
                  </mat-error>
                  <mat-error *ngIf="phoneFormControl.hasError('pattern')">
                    Enter <strong>Valid</strong> phone Number
                  </mat-error>
              </mat-form-field>
            <br>
          </div>

          
        </div>
      </div>
  <!--Email Phone--> 





<mat-form-field class="full-width" appearance="fill" style="font-family: Montserrat;">
    <mat-label  style="font-family: Montserrat;">RSA ID Number</mat-label>
    <input
      
    type="text"
    matInput
    [formControl]="idFormControl"
    name="EmployeeIDNumber"
    [(ngModel)]="test.RSAIDNumber"
    placeholder="0101015478082"
    required
    />
    <mat-error *ngIf="idFormControl.hasError('required')">
        ID Number is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="idFormControl.hasError('pattern')">
        Enter <strong>Valid</strong> ID Number
      </mat-error>
  </mat-form-field>
<br>
<mat-form-field class="full-width" appearance="fill" style="font-family: Montserrat;">
    <mat-label  style="font-family: Montserrat;">Biography</mat-label>
    <textarea
    type="text"
    matInput
    style="min-height: 40px;"
    [formControl]="biographyFormControl"
    [(ngModel)]="test.Biography"
    name="MaintainDesc"
    placeholder="I am an experienced IT Teacher with over 12 years..."
    required
  ></textarea>
  <mat-error *ngIf="biographyFormControl.hasError('required')">
    Biography is <strong>required</strong>
  </mat-error>
  </mat-form-field>
<br>

<br>

<mat-label style="font-family: Montserrat;">Upload CV</mat-label>
<mat-form-field
enctype="multipart/form-data"
style="position: relative;"
>


<div >
  <input
              type="file"
              accept="application/pdf"
              #fileInputt
              id="uploadPDFFile"
              (change)="uploadPDFFileEvt($event)"
              name="uploadPDFFile"
              [formControl]="cvFormControl"
              style="display: none"
              required
          />
           
              <!-- label of input -->
            <label
              for="uploadPDFFile"
              class="btn"
              style="background-color: #0e1a3c; color: #ffffff;font-family: Montserrat;"
              >Choose File</label
            >
            <br>
           <br>
            
            <!-- Display files names -->
            <input
              style="width: 30vw"
              matInput
              [(ngModel)]="fileAttribute"
              readonly
              name="pdfname"
            />

  <mat-error *ngIf="cvFormControl.hasError('required')">
    No file <strong>chosen</strong>
  </mat-error>
</div>
</mat-form-field>
<br>
      <div class="button-container">
        <button id="cancel" class="btn" (click)="onBack()">Back</button>
        <button id="confirm" class="btn" (click)="onSubmit()">Submit</button>
    </div>
</form>
      
    </div>
  </div>





<!-- </body> -->