.container {
  padding: 20px;
}

.center-align {
  text-align: center;
  flex-grow: 1;
  margin-left:45%
}


.accordion {
  width: 100%;
}

.shadow-panel {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8), 0 1px 3px rgba(0, 0, 0, 0.8);
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desc {
  font-size: 17.8px;
  margin-bottom: 20px;
}

.lessons-header {
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: -0.3%;
  //font-style: italic;
}

.lessons-container {
  margin-top: 20px;
}

.lesson-card {
  margin-bottom: 20px;
}

.lesson-card mat-card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8), 0 1px 3px rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lesson-info {
  padding: 10px;
  cursor: pointer;
}

.lesson-name {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: text-decoration 0.3s ease-in-out;
}

.lesson-name:hover {
  text-decoration: underline;
}

.lesson-description {
  font-size: 15.5px;
  margin-top: 10px;
}

.lesson-resources {
  margin-top: 10px;
}

.no-resources {
  margin-top: 10px;
}

.lesson-divider {
  border-top: 1px solid #ccc;
  margin-top: 20px;
}

.resource-button {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.resource-button:hover {
  background-color: #0056b3;
}

.resource-button i {
  margin-left: 5px;
  vertical-align: middle;
}




   
    
  
  .clickable {
    text-decoration: underline;
    cursor: pointer;
  }

  .clickable:hover{
    color:red($color: #000000)
  }
  .lesson-card.active mat-card {
    background-color: #ffdf85; /* Set your desired highlight color */
  }
  
  
  .icon-display {
    transform: scale(0.8);
    margin-bottom: -7px;
  }
  
  .title{
    font-family: 'Montserrat';
    font-size:20px;
  }
  
  .desc{
    font-family: 'Montserrat';
    font-size: medium;
  }


.cardButton {
  float: right;
  }
  
  .embed-container {
    position: relative;
    padding-bottom: 56.25%;
  
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
  }
  
  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
    position: absolute;
    top: 13%;
    width: 100%;
    height: 75%;
  }
  
  
  .bigDiv{
    background: linear-gradient(90deg, #0e1a3c, #b0c7fc);
    background-size: 400% 400%;
    //animation: AnimationName 30s ease infinite;
    display: flex;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
  }
  
  @keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  
  .leftSearch{
    padding: 0.5% 2% 0.5% 2%;
    width: 100%;
    float: left;
    
    border-color: white;
   
    
  }
  
  ::ng-deep .mat-tab-header{
    margin:0 auto;
  }

  
  ::ng-deep mat-tab-group .mat-tab-label{
    color:#0e1a3c;
  }
  
  ::ng-deep .mat-form-field-outline {
    border-color: white;
  }
  
  ::ng-deep .mat-form-field-label {
    color: white;
  }
  
  
  
  .rightSearch{
    width: 20%;
    float: right;
    background-color: transparent;
    padding: 1% 3% 0.5% 2%;
    
  }
  
  .cardHeader {
    background: #920f4c;
      color: white;
      padding-top: 2%;
      width: 100%;
      border-radius: 20px;
    
      .mat-icon {
        padding-right: 17%;
      }
    }
  
  ::ng-deep mat-icon {
   background-color: transparent;
   border-style: none;
  }
  .mat-icon-button:hover {
    cursor:crosshair;
    background-color: #920f4c;
    color: #920f4c;
  }
  
  .btn:hover
  {
      background-color: rgba(255, 24, 24, 0.11);
      color: #b0c7fc;
      transition-duration: 500ms;
  }
  
  
  table{
    width: 100%;
  }
  
  .table-container{
    overflow: auto;
    height: 315px;
  }
  
  .table-container::-webkit-scrollbar{
    display: none;
  }
  .mat-form-field-outline {
    color: white !important;
  }
  .egg {
    color: white !important;
  }
  
  
  .matCard{
    border-style:solid;
    border-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8), 0 1px 3px rgba(0, 0, 0, 0.8);
  }
  
  th.mat-header-cell {
    background-color: #920f4c;
  }
  
  .mat-paginator {
    background: linear-gradient(90deg, #0e1a3c, #b0c7fc);
    background-size: 400% 400%;
   // animation: AnimationName 30s ease infinite;
    border-bottom-left-radius: 34px;
    border-bottom-right-radius: 34px;
    margin-top: -14px;
    
    
    
  }
  
  .mat-card-content {
    padding-bottom: 0;
  }
  
  
  
  
  @keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  
  .mat-form-field ::placeholder {
    color: white;
  }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgba(255, 255, 255, 0);
    border-width: 1.5px;
    border-style: solid;
    border-radius: 20px;
    
  
  }
  
  
  
  ::ng-deep .mat-form-field:focus-within .mat-form-field-outline {
    outline: none;
    border-color: rgba(255, 0, 0, 0);
    box-shadow: none;
  }
  
  .btn:hover
  {
      background-color: white;
      color: #00efd1;
      transition-duration: 500ms;
  }
  
  #cancel
  {
      margin-left: 43%;
      font-family: Montserrat;
      background-color: #0e1a3c;
  }
  
  
  
  #cancel:hover{
      color: #0e1a3c;
      background-color: white;
  }
  
  #confirm
  {
      margin-right: 10px;
      float: right;
      font-family: Montserrat;
      background-color:  #19274b;;
  }
  
  #confirm:hover
  {
  color: #19274b;
  background-color: white;
  }
  
  .button-container
  {
      margin-top: 20px;
      width: 100%;
      
  }
  .button-container2
  {
      margin-top: 20px;
      width: 100%;
      display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: -8px; /* Adjust this value to align the button with the title vertically */
  
  gap: 8px; /* Adjust this value to control the spacing between the buttons */
      
  }

  