/* Config */
$color-bg: #111;
$color-particle: #fff;
$spacing: 2560px;
$time-1: 60s;
$time-2: 120s;
$time-3: 180s;
$time-4: 600s;

/* Pauls awesome mixin */
@function particles($max) {
   $val: 0px 0px $color-particle;
   @for $i from 1 through $max {
      $val: #{$val},
      random($spacing)+px random($spacing)+px $color-particle;
   }
   @return $val;
}

@mixin particles($max) {
   box-shadow: particles($max);
}

/* Styles */
html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    overflow: hidden;
}

.page-bg,
.animation-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@keyframes AnimationName {
    0%{background-position:0% 14%}
    50%{background-position:100% 87%}
    100%{background-position:0% 14%}
}

.page-bg { 
  background: linear-gradient(320deg, #0e1a3c, #920f4c);
  background-size: 400% 400%;
  animation: AnimationName 20s ease infinite;
  background-size: cover;
  z-index: -1;
}

.mat-form-field ::placeholder {
  color: white;
}

.particle,
.particle:after {
  background: transparent;
}

.particle:after {
  position: absolute;
  content: "";
  top: $spacing;
}

.particle-1 {
  animation: animParticle $time-1 linear infinite;
  @include particles(600);
  height: 1px;
  width: 1px;
}

.particle-1:after {
  @include particles(600);
  height: 1px;
  width: 1px;
}

.particle-2 {
  animation: animParticle $time-2 linear infinite;
  @include particles(200);
  height: 2px;
  width: 2px;
}

.particle-2:after {
  @include particles(200);
  height: 2px;
  width: 2px;
}

.particle-3 {
  animation: animParticle $time-3 linear infinite;
  @include particles(100);
  height: 3px;
  width: 3px;
}

.particle-3:after {
  @include particles(100);
  height: 3px;
  width: 3px;
}

.particle-4 {
  animation: animParticle $time-4 linear infinite;
  @include particles(400);
  height: 1px;
  width: 1px;
}

.particle-4:after {
  @include particles(400);
  height: 1px;
  width: 1px;
}

@keyframes animParticle {
  from { transform: translateY(0px); }
  to   { transform: translateY($spacing * -1); }
}

.page-wrapper {
    text-align: center;
    color: #fff;
    z-index: 2;
    margin: 0;
    position: absolute;
    top: 35%;
    left: 26%;

}

:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

:host ::ng-deep .mat-tab-labels {
  flex-direction: column;
}

mat-tab-group {
  margin: 3% 5% 5% 5%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  
}

:host ::ng-deep .mat-tab-body-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  

}

mat-tab-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  

}

:host ::ng-deep mat-ink-bar {
  display: none;
}

/* Styles for the active tab label */
:host ::ng-deep.mat-tab-label.mat-tab-label-active {
    background-color: transparent;
    color: white;
    // border-right: 2px solid white;
    transition: ease 0.5s;
    width: 15vw;
    padding-left: 50px;


}
/* Styles for the active tab label */
:host ::ng-deep.mat-tab-label {
    background-color: transparent;
    font-size: 25px;
    height: 100%;
    justify-content: space-between;
    text-align: left;
    /* background-color: lightgray; */
    border-bottom: 2px solid white;

}

.jobsDiv{
  padding: 3% 2% 2% 2%;
  // align-content: center;
  // width: 100%;
 // background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1159%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(80%2c 144%2c 208%2c 1)'%3e%3c/rect%3e%3cpath d='M1118.313%2c604.48C1147.44%2c602.045%2c1166.098%2c577.412%2c1181.604%2c552.635C1198.592%2c525.491%2c1219.16%2c494.773%2c1204.923%2c466.09C1189.704%2c435.43%2c1152.429%2c422.344%2c1118.313%2c425.128C1088.327%2c427.575%2c1068.74%2c452.74%2c1053.154%2c478.474C1036.734%2c505.584%2c1019.033%2c536.855%2c1033.592%2c565.008C1048.93%2c594.669%2c1085.037%2c607.262%2c1118.313%2c604.48' fill='rgba(255%2c 255%2c 255%2c 0.16)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1035.127%2c241.201C1071.295%2c241.851%2c1108.088%2c228.588%2c1126.413%2c197.399C1144.945%2c165.858%2c1139.525%2c126.66%2c1120.937%2c95.152C1102.676%2c64.199%2c1071.065%2c42.84%2c1035.127%2c42.662C998.893%2c42.483%2c965.68%2c62.761%2c947.833%2c94.295C930.247%2c125.367%2c931.111%2c163.526%2c949.349%2c194.219C967.198%2c224.257%2c1000.192%2c240.574%2c1035.127%2c241.201' fill='rgba(255%2c 255%2c 255%2c 0.16)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1202.561%2c410.784C1221.444%2c410.745%2c1235.83%2c395.362%2c1244.459%2c378.566C1252.293%2c363.318%2c1251.818%2c345.72%2c1243.765%2c330.586C1235.136%2c314.368%2c1220.928%2c299.448%2c1202.561%2c299.822C1184.619%2c300.187%2c1172.624%2c316.38%2c1164.162%2c332.206C1156.297%2c346.914%2c1153.041%2c363.753%2c1160.364%2c378.738C1168.675%2c395.746%2c1183.631%2c410.823%2c1202.561%2c410.784' fill='rgba(255%2c 255%2c 255%2c 0.16)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M225.022%2c593.283C261.626%2c594.186%2c295.027%2c574.137%2c314.342%2c543.031C334.86%2c509.988%2c341.654%2c468.999%2c323.585%2c434.556C304.277%2c397.752%2c266.559%2c371.369%2c225.022%2c372.767C185.383%2c374.101%2c154.878%2c405.263%2c137.316%2c440.824C121.789%2c472.263%2c125.536%2c508.41%2c143.021%2c538.804C160.559%2c569.291%2c189.861%2c592.416%2c225.022%2c593.283' fill='rgba(255%2c 255%2c 255%2c 0.16)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1159'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");  
 // background-size: cover;

}

.heading{
  font-size: 45px;
  padding: 0 0 0 40%;
  color: white;
}

:host ::ng-deep.mat-tab-label {
  padding: 10% 10% 10% 0%;
}

.jobTitle{
  margin: 2% 0 0 30%;
  //font-weight: 600;
  color: white;
  font-size: 35px;
}

.jobTitleSub{
  margin: 2% 0 0 30%;
  color: rgb(255, 255, 255);
}

.icon-bar {
  width: 90px; /* Set a specific width */
  margin: 3% 0 0 26%;
}

.icon-bar {
  width: 60%; /* Full-width */
  overflow: auto; /* Overflow due to float */
  background-color: transparent;
}

.icon-bar a {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
  padding: 12px 0 0 0px; /* Some top and bottom padding */
  color: white; /* White text color */
  font-size: 36px; /* Increased font size */
}

.text-bar {
  margin: 1% 0 0 26%;
}

.text-bar {
  width: 60%; /* Full-width */
  overflow: none; /* Overflow due to float */
  background-color: transparent;
}

.text-bar a {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
  padding: 12px 0 0 0px; /* Some top and bottom padding */
  color: white; /* White text color */
  font-size: 14px; /* Increased font size */
}

.tabDescr{
  // font-size: 35px;
  padding: 6% 0 0 30%;
  color: white;
  max-width: 80%;
}

.tabDescrTitle{
 font-size: 30px;
}

.tabQualifications{
  // font-size: 35px;
  padding: 6% 0 0 30%;
  color: white;
  max-width: 80%;
}

.tabQualificationsTitle{
 font-size: 30px;
}



.buttonsDiv{
  justify-content: space-between;
  float: right; 
  padding-right: 20%;
  display: flex;
}

.btn
{
   // border: 2px solid rgb(0, 0, 0);
    border-radius: 50px;
    
    font-family: MontserratMedium;
    font-size: 16px;
    color: white;
    padding: 10px 25px 10px 25px;
}

.btn:hover
{
    background-color: white;
    color: #00efd1;
    transition-duration: 500ms;
}

#cancel
{
   // margin-left: -50px;
    font-family: Montserrat;
    background-color: #920f4c;
    margin-left: -100%;
}

#cancell
{
   // margin-left: -50px;
    font-family: Montserrat;
    background-color: #920f4c;
    margin-left: -450%;
}



#cancel:hover{
    color: red;
    background-color: white;
}

#confirm
{
    //margin-right: -50px;
    //float: right;
    font-family: Montserrat;
    background-color:  #19274b;
    margin-right: 70%;
    
}

#confirm:hover
{
color: #19274b;
background-color: white;
}
.searchBar{
  max-width: 20%;
  margin: 0 0 0 5%;
}



