
<body>
    <section id="not-found">
      <div class="circles">
        <p style="font-family: 'Montserrat';">404<br>
         <small style="font-family: 'Montserrat';">GO TO MOBILE!!!</small>
        </p>
        <span class="circle big"></span>
        <span class="circle med"></span>
        <span class="circle small"></span>
    <div class="div-2">
        <h1 style="font-family: 'Montserrat';" class="text">Dear Course Correspondent,</h1>
        <h3 style="font-family: 'Montserrat';" class="text2"> You are not authorized to access the website. Please head to the Onyx Mobile App to get started. Contact administration if you require assistance.</h3>
        <button class="btnLanding" id="confirm" (click)="onLogout()">Logout</button><br>
    </div>
   
</div>

</section>
</body>