<ion-header>
    <ion-toolbar >
        <br>
      <ion-title >Home</ion-title>
      <br>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    
  <br>
    <div style="margin: auto; width: 70%; height:50%; text-align: center;">
  
       
      <ion-img src="../../assets/Images/DSLogo.png"></ion-img>
      <!-- <h1>Welcome to Crick-IT!</h1> -->
      <h3>Welcome to the new Darus Salaam Course Correspodent Portal</h3>
  
      <div>
        <!-- <ion-button style="width: 100%;" (click)="loginPage()">Login</ion-button>
        <ion-button style="width: 100%;" (click)="registerPage()">Register</ion-button> -->
        <ion-button style="width: 100%;" routerLink="/test-login">Login</ion-button>
        <ion-button style="width: 100%;" routerLink="/start">About this App</ion-button>
      </div>
  
    </div>
  
  </ion-content>
  